<div class="tabs-alignment-control">
	<h3>Tab Alignment</h3>
	<div class="buttonset bgc">
		<input class="switch-input screen-reader-text bgc alignment-control" type="radio" value="left-aligned"
			name="bgc-tabs-alignment"
			id="bgc-tabs-alignment-left">
			<label class="switch-label switch-label-on " for="bgc-tabs-alignment-left"><span class="dashicons dashicons-editor-alignleft"></span>Left</label>

		<input class="switch-input screen-reader-text bgc alignment-control" type="radio" value="center"
			name="bgc-tabs-alignment"
			id="bgc-tabs-alignment-center">
			<label class="switch-label switch-label-off bgc alignment-control" for="bgc-tabs-alignment-center"><span class="dashicons dashicons-editor-aligncenter"></span>Center</label>

		<input class="switch-input screen-reader-text bgc alignment-control" type="radio" value="right-aligned"
			name="bgc-tabs-alignment"
			id="bgc-tabs-alignment-right">
			<label class="switch-label switch-label-off bgc" for="bgc-tabs-alignment-right"><span class="dashicons dashicons-editor-alignright"></span>Right</label>
	</div>
</div>
