<div class='color-controls boldgrid-tabs-colors'>
	<h3>Tab Colors</h3>
	<hr />
	<div class="color-control">
		<h4>Tab Background Color</h4>
		<label for="tabs-bg-color" class='color-preview'></label>
		<input type="text" data-property="--tab-bg-color" data-target-type=".nav-link" name='tabs-bg-color' class='color-control' value=''>
	</div>
	<div class="color-control">
		<h4>Tab Font Color</h4>
		<label for="tabs-font-color" class='color-preview'></label>
		<input type="text" data-property="--tab-color" data-target-type=".nav-link" name='tabs-font-color' class='color-control' value=''>
	</div>
	<hr />
	<div class="color-control">
		<h4>Active Tab Background Color</h4>
		<label for="active-tabs-bg-color" class='color-preview'></label>
		<input type="text" data-property="--active-tab-bg-color" data-target-type=".nav-link.active" name='active-tabs-bg-color' class='color-control' value=''>
	</div>
	<div class="color-control">
		<h4>Active Tab Font Color</h4>
		<label for="active-tabs-font-color" class='color-preview'></label>
		<input type="text" data-property="--active-tab-color" data-target-type=".nav-link.active" name='active-tabs-font-color' class='color-control' value=''></div>
	<hr />
	<div class="color-control">
		<h4>Tab Border Color</h4>
		<label for="tabs-border-color" class='color-preview'></label>
		<input type="text" data-property="--tab-border-hovor-color" data-target-type=".nav-link" name='tabs-border-color' class='color-control' value=''></div>
</div>
