body.elementor-kit-3
{
  --e-global-color-07ebab1: #f9901d;
}
body a.dokan-btn-theme:focus, body .dokan-btn-theme:focus, body input[type='submit'].dokan-btn-theme:active,
body a.dokan-btn-theme, body .dokan-btn-theme, body input[type='submit'].dokan-btn-theme,
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active
{
  background-color: var(--e-global-color-07ebab1) !important;
}
body.elementor-kit-3 button:hover, body.elementor-kit-3 button:focus, body.elementor-kit-3 input[type="button"]:hover, body.elementor-kit-3 input[type="button"]:focus, body.elementor-kit-3 input[type="submit"]:hover, body.elementor-kit-3 input[type="submit"]:focus, body.elementor-kit-3 .elementor-button:hover, body.elementor-kit-3 .elementor-button:focus
{
  background-color: #f9901d !important;
}

body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li 
{
  display: block;
}
@media screen and (min-width: 800px) and (max-width:1600px) {
  .flex {
    display: flex;
  }
}
.block {display: block;}
.w-full {width: 100%;}
.text-center { text-align: center;}
p, td, label {
  position: relative;
}
input:disabled {
  background-color: rgba(0,0,0,0.05);
}
label.error {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  font-size: 14px;
  color: red;
}
.vendor-toggle-menu 
{
  position: fixed;
  top: -10px;
  left: 10px;
  z-index: 999;
  display: block;
}
.vendor-toggle-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.dokan-dashboard-wrap
{
  color: #514843;
  /* background-color: #fff; */
}
input.input-pad 
{
  padding: 6px;
}
@media (max-width: 767px) {
  body.dokan-dashboard .dokan-dash-sidebar{
    position: fixed;
    top: 140px;
    left: 0;
    height: 100vh;
    width: 85%;
    z-index: 1;
  }
  .vendor-toggle-menu 
  {
    top: 5px;
  }

  html body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu
  {
    overflow: auto;
    position: relative;
    top: -68px;
    max-height: calc(100vh - 30px);
    overflow: auto;
  }
  body.dokan-dashboard .dokan-dash-sidebar #dokan-navigation label#mobile-menu-icon
  {
    display: none !important;
    opacity: 0;
    visibility: hidden;
  }
}



.fbu-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.fbu-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.fbu-close {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 26px;
}

.fbu-close:hover,
.fbu-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#fbu-category-list {
  list-style-type: none;
  padding: 0;
}
.choose-genre
{
  cursor: pointer;
  padding: 4px 6px ;
}
.cursor-pointer {
  cursor: pointer;
}

ul.dokan-single-categories
{
  padding-left: 0;
}

.fbu-modal li:hover {
  background: #f0f0f0;
}
.dokan-dashboard .dokan-dashboard-content .fbu-modal li {
  cursor: pointer;
  padding: 4px 15px;
  margin: 10px 0;
  font-weight: 600;
}

#fbu-category-list li:hover {
  background-color: #ddd;
}
.tagify
{
  width: 100%;
}
.tagify__dropdown *
{
  color: #999
}
.text-sm
{
  font-size: 14px;
}
.font-semibold
{
  font-weight: 600;
}
#picture_media_manager
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  padding-top: 40%;
}
.dokan-add-product-link
{
  margin: 40px 20px;
}
body.elementor-kit-3 button
{
  padding: 6px 20px;
}
body #profile-completeness .text-dokan-lg-title
{
  color: black;
  font-size: 34px;
  font-weight: 700;
}
body #profile-completeness a {
  padding: 15px 38px;
  background: #000;
  display: block;
}
.dokan-form-inline
{
  padding-bottom: 10px;
}
.dokan-product-edit-form
{
  padding: 0 10px;
}
body .product-edit-new-container .dokan-edit-row.dokan-other-options
{
  margin: 40px 0
}
.elementor-kit-3 input.ed_button.button.button-small,
.elementor-kit-3 .wp-switch-editor,
.elementor-kit-3 .mce-widget button {
  background: transparent;
}

.elementor-kit-3 input.ed_button.button.button-small,
.elementor-kit-3 .wp-switch-editor
{
  color: #666;
  height: auto;
}
.cmb-th {
  width: 25%;
}
.cmb-row {
  display: flex;
  gap: 30px;
  padding: 15px 0;
}
.cmb-td input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #999;
}
.cmb-row.cmb-type-title
{
  display: inline-block;
  width: 33%;
}
.license-box
{
  background-color: #fff;
  padding: 20px;
}
#user-media-library
{
  text-align: center;
  padding-top: 20%;
}
body.elementor-kit-3 button.media-menu-item,
.media-modal.wp-core-ui
{
  color: #111;
}
.media-modal.wp-core-ui button.media-modal-close
{
  padding: 0;
  margin: 5px 20px;
}
.show_if_downloadable {
  display: none;
}
form.sell .show_if_downloadable {
  display: block;
}
.label-tips
{
  display: none;
  position: absolute;
  bottom: 100%; 
  max-width: 200px;
  padding: 10px;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
label:hover span.label-tips
{
  display: block;
  z-index: 9;
} 
.dokan-dashboard .dokan-dash-sidebar  ul.dokan-dashboard-menu > li
{
  background: #000
}
body .media-router .media-menu-item:focus
{
  box-shadow: 0 0 0 2px #f9901d;
  color: #fff;
}
body .media-router .media-menu-item.active {
  color: #fff !important;
  background-color:  #f9901d;
}
body .media-router .media-menu-item:active, body .media-router .media-menu-item:hover,
body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a
{
  color: #fff !important;
}
body .dokan-product-category-modal .dokan-product-category-modal-content
{
  margin: auto;
  left: 0;
  right: 0;
  width: 70%;
}
.gap-2
{
  gap: 10px;
}
input[type="checkbox"]:checked + label 
{
  background-color: red;
}
.bg-blue-dodger
{
  background-color: rgba(24, 136, 245, 1);
}

nav.elementor-location-header nav a img {
  margin-left: 30px;
}