body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li 
{
  display: block;
}
@media (max-width: 767px) {
  body.dokan-dashboard .dokan-dash-sidebar{
    position: fixed;
    top: 80px;
    left: 0;
    
  }
}