body.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li 
{
  display: block;
}
.vendor-toggle-menu
{
  display: none;
}
@media (max-width: 767px) {
  body.dokan-dashboard .dokan-dash-sidebar{
    position: fixed;
    top: 75px;
    left: 0;
    height: 100vh;
    width: 85%;
    z-index: 1;
  }
  .vendor-toggle-menu
  {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 999;
      display: block;
  }
}